*{
    margin: 0;
    padding: 0;
}
.footer{
    width: 100%;
    height: 50px;
    position: relative;
   bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.leftside{
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rightside{
    width: 180px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "UIFont", Arial, sans-serif;
}
.change_background{
width: 430px;
height: 500px;
background-color:rgb(28, 36, 51);
position: absolute;
top: -500%;
left: 50%;
transform: translate(-50%,-50%);
border-radius: 10px;
border: 1px solid rgb(61, 75, 103);
display: block;
z-index: 300;
display: block;
color: white;
font-size: 12px;
text-align: start;
padding: 0px;
}
.change_nav{
    width: 100%;
    height: 50px;
    background-color:rgb(28, 36, 51);
    border-bottom: 1px solid rgb(61, 75, 103);
    position: sticky;
    top: 0;
    z-index: 100;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
}
.display_setting{
    color: white;

}
.background_type{
    width: 90%;
    height: 200px;
    border-radius: 10px;
    background-color: rgb(35, 42,56);
    position: relative;
    top: 20px;
    color: white;
    margin: auto;
    border: 1px solid rgb(61, 75, 103);
    display: grid;
    grid-column: 1fr 1fr 1fr;
    grid-row: 1fr;
    row-gap: 20px;
    column-gap: 20px;
    z-index: 1000;
    display: block;
    padding: 5px;
    flex-wrap: wrap;
}
.my_bk{
width: 85px;
height: 50px;
border-radius: 10px;
margin: 5px;
}
.p1{
    margin-left: 15px;
    margin-top: 15px;
}
.none{
    display: none;
}