/* تأكد أن html و body يمتدان على كامل الصفحة */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.Main_layout {
    min-height: 100vh;
  display: flex;
  flex-direction: column; /* ترتيب عمودي */
  justify-content: space-between;
        /* كامل ارتفاع الشاشة */
  
  overflow: hidden;
  
}

.Main_content {
  flex: 1; /* يأخذ كل المساحة المتبقية بين Navbar و Footer */
}
/* مثال لتحديد ارتفاع Navbar و Footer */
.Navbar {
  height: 80px;
}

.footer {
  height: 60px;
}
.bu1{
    width: 130px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(150, 150, 150, 0.3);
    backdrop-filter:blur(-100px);
    font-family: "UIFont", Arial, sans-serif;
    color: white;
    border: none;
}
